@{
    ViewBag.Title = "About MvcjqueryDataTables";
}
<h2>@ViewBag.Title</h2>


<div class="wrapper">
    <header>
        
        <p></p>
        <p class="view"><a href="https://github.com/rfriedman/MVCJqueryDataTables">View the Project on GitHub <small>rfriedman/MVCJqueryDataTables</small></a></p>
        <ul>
            <li><a href="https://github.com/rfriedman/MVCJqueryDataTables/zipball/master">Download <strong>ZIP File</strong></a></li>
            <li><a href="https://github.com/rfriedman/MVCJqueryDataTables/tarball/master">Download <strong>TAR Ball</strong></a></li>
            <li><a href="https://github.com/rfriedman/MVCJqueryDataTables">View On <strong>GitHub</strong></a></li>
        </ul>
    </header>
    <section>
        <h3>
            <a id="welcome-to-github-pages" class="anchor" href="#welcome-to-github-pages" aria-hidden="true"><span class="octicon octicon-link"></span></a>Welcome to My MVC Jquery DataTables Simple Verticle Scrolling Demo page.
        </h3>
        <p>This page demonstrates an ASP.NET MVC website utilizing the Jquery DataTables library and implements a simple verticle scroll bar.  
        It also uses a simple Bootstrap template for the navigation bar.  The site uses MVC Model View Controller design pattern which keeps the
        data, business and presentation layers seperated.  The model uses MsSql for the backend and LINQ to Sql to implement a data context for the model.
        The controller uses C#.NET to connect the model to the presentation layer.  Finally the view or presentation layer uses chtml pages which
        are html5 pages with Razor syntax which utilizes html helpers </p>
        <h3>
            <a id="designer-templates" class="anchor" href="#designer-templates" aria-hidden="true"><span class="octicon octicon-link"></span></a>Technologies and Features Used
        </h3>
        <p> <a href="http://jquery.com/">JQuery</a></p>
        <p> <a href="http://datatables.net/">Jquery DataTables</a></p>
        <p> <a href="http://getbootstrap.com/">BootStrap</a></p>
        <p> <a href="http://www.asp.net/mvc">ASP.NET MVC</a></p>
        <p> <a href="www.microsoft.com/SQLServer‎">Microsoft SQL Server</a></p>

        
        <h3>
            <a id="support-or-contact" class="anchor" href="#support-or-contact" aria-hidden="true"><span class="octicon octicon-link"></span></a>Support or Contact
        </h3>
        
    </section>
    <footer>
        <p>This project is maintained by <a href="https://github.com/rfriedman">rfriedman</a></p>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
    </footer>
</div>
<script src="javascripts/scale.fix.js"></script>

