@{
    ViewBag.Title = "Contact";
}

<h3>@ViewBag.Message</h3>

<address>

    <abbr title="Phone">P:</abbr>
727.495.1289
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:friedman.richard@gmail.com">friedman.richard@gmail.com</a><br />
    
</address>